/ltxpng
/sandbox
*.tex
/pysce.pyc
/pycse.aux
/pycse.fls
/pycse.idx
/pycse.ilg
/pycse.ind
/pycse.log
/pycse.out
/pycse.pyg
/pycse.toc
/texput.fls
/texput.log
/pycse.out.pyg
/.sconsign.dblite
*.pyc
gh-pages
build
pycse.egg-info
pycse
/requirements.txt
