ltxpng
sandbox
*.tex
/data
MANIFEST
auto
dist
octave*
/pysce.pyc
/pycse.aux
/pycse.fls
/pycse.idx
/pycse.ilg
/pycse.ind
/pycse.log
/pycse.out
/pycse.pyg
/pycse.toc
/texput.fls
/texput.log
/pycse.out.pyg
/.sconsign.dblite
*.pyc
gh-pages
pycse-content.cache
pycse-static.cache
pycse.egg-info/
build
.coverage
py3.el
/index.html
/pycse.html
pycse/tests/*.org
pycse/tests/reports
/_minted-pycse/001C347C4DCA2E5FD25C680B2569624C64CB4A97211E59E7AA80A4CDCF714D08.pygtex
.DS_Store
_build